@import './base/variables.scss';
body{
    background: $bg;
    color: $red;
}
a{
    transition: all 300ms ease;
}


//Sir, Is there any difference between
//bootstrap and this SASS ,SCSS, LESS CSS or just different frameworks?