<div class="card p-4">
    <ng-content select=".title"></ng-content>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quasi! Eum quos, debitis voluptatibus nemo corrupti eos pariatur molestiae, fuga perferendis dolores voluptates nulla qui nesciunt. Distinctio aliquid voluptatem laborum magni fugiat maiores. Dolore nostrum incidunt sapiente impedit autem repellat voluptas, temporibus vitae amet ducimus natus quasi accusamus explicabo aliquid.</p>
    <ng-content select=".btn"></ng-content>
</div>