<div class="container">
  <h2>ANGULAR 16 DEMOS</h2>
  <hr>
  <!-- <propbinding></propbinding> -->
  <!-- <trv></trv> -->
  <!-- <twdatadinding></twdatadinding> -->
  <!-- <structural-directives></structural-directives> -->
  <!-- <parent></parent> -->
  <!-- <div>
    <label>DOB:</label>
    <input type="date" #dobinput (blur)="calculateAge()">
  </div>
  <div>
    <label for>Age:</label>
    <input type="text" #ageinput>
  </div>
  <app-vwchild></app-vwchild>
  {{vwcomp.sayHello()}} -->

  <div style="margin:20px auto;width:780px">
    <div class="app-component">
      <h2>App Component</h2>
      <p>This is <b>app</b> component.</p>
      <button>Button</button>
    </div>
    <div class="component-container">
      <app-comp1></app-comp1>
      <app-comp2></app-comp2>
    </div>
  </div>

</div>

